body
{
	height: 100px;
	margin: 100px;
	display: grid;
	justify-items: center;
	align-items: center;
	background-color: lightgray;
}
.alphabody label
{
   color: black;
   width: 250px;
   display: inline-block;
}
h1
{
	color: darkmagenta;
}