body
{
	background-color: pink;
	margin-top: 200px;
}
.d1
{
	margin-top: 15px;
}
.d2
{
	width: 95%;
	margin-top: 90px;
	height: 50px;
}
.divide
{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 94%;
	height: 45%;
}